<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Timing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>

    <div class="flex">
        <div id="status">Status : Completed</div>
        <a href="{{ url_for('download_report') }}" download="{{filename}}">
            <button>Download CSV</button>
        </a>

</body>
</body>
</html>